<!-- ===== Contact Start ===== -->
<section id="support" class="i pg fh rm ji gp uq">
  <!-- Bg Shapes -->
  <%= image_tag 'shape-06.svg', alt: 'Shape', class: 'h aa y' %>
  <%= image_tag 'shape-03.svg', alt: 'Shape', class: 'h ca u' %>
  <%= image_tag 'shape-07.svg', alt: 'Shape', class: 'h w da ee' %>
  <%= image_tag 'shape-12.svg', alt: 'Shape', class: 'h p s' %>
  <%= image_tag 'shape-13.svg', alt: 'Shape', class: 'h r q' %>

  <!-- Section Title Start -->
  <div
    x-data="{ sectionTitle: `Let’s Stay Connected`, sectionTitleText: `It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using.`}">
    <div class="animate_top bb ze rj ki xn vq">
      <h2 x-text="sectionTitle" class="fk vj pr kk wm on/5 gq/2 bb _b">
      </h2>
      <p class="bb on/5 wo/5 hq" x-text="sectionTitleText"></p>
    </div>


  </div>
  <!-- Section Title End -->

  <div class="i va bb ye ki xn wq jb mo">
    <div class="tc uf sn tf rn un zf xl:gap-10">
      <div class="animate_top w-full mn/5 to/3 vk sg hh sm yh rq i pg">
        <!-- Bg Shapes -->
        <%= image_tag 'shape-03.svg', alt: 'Shape', class: 'h la x wd' %>
        <%= image_tag 'shape-06.svg', alt: 'Shape', class: 'h la ma ne kf' %>

        <div class="fb">
          <h4 class="wj kk wm cc">Email Address</h4>
          <p><%= link_to organization_email, "mailto:#{organization_email}" %></p>
        </div>
        <div class="fb">
          <h4 class="wj kk wm cc">Office Location</h4>
          <p><%= link_to organization_address, "https://www.google.com/maps/search/?api=1&query=#{organization_address}" %></p>
        </div>
        <div class="fb">
          <h4 class="wj kk wm cc">Phone Number</h4>
          <p><%= link_to organization_phone, "tel:#{organization_phone}" %></p>
        </div>
        <div class="fb">
          <h4 class="wj kk wm cc">Skype Email</h4>
          <p><%= link_to organization_email, "mailto:#{organization_email}" %></p>
        </div>

        <span class="rc nd rh tm lc fb"></span>

        <div>
          <h4 class="wj kk wm qb">Social Media</h4>
          <ul class="tc wf fg">
            <li>
              <%= link_to organization_facebook_url, target: "_blank", rel: "noopener noreferrer", class: "c tc wf xf ie ld rg ml il tl" do %>
                <i class="fa-brands fa-facebook-f th lm ml il" style="font-size: 20px"></i>
              <% end %>
            </li>
            <li>
              <%= link_to organization_twitter_url, target: "_blank", rel: "noopener noreferrer", class: "c tc wf xf ie ld rg ml il tl" do %>
                <i class="fa-brands fa-twitter th lm ml il" style="font-size: 20px"></i>
              <% end %>
            </li>
            <li>
            <%= link_to organization_linkedin_url, target: "_blank", rel: "noopener noreferrer", class: "c tc wf xf ie ld rg ml il tl" do %>
                <i class="fa-brands fa-linkedin-in th lm ml il" style="font-size: 20px"></i>
              <% end %>
            </li>
            <li>
              <%= link_to organization_google_url, target: "_blank", rel: "noopener noreferrer", class: "c tc wf xf ie ld rg ml il tl" do %>
                <i class="fa-brands fa-google th lm ml il" style="font-size: 20px"></i>
              <% end %>
            </li>
          </ul>

        </div>
      </div>

      <div class="animate_top w-full nn/5 vo/3 vk sg hh sm yh tq">
        <form>
          <div class="tc sf yo ap zf ep qb">
            <div class="vd to/2">
              <label class="rc ac" for="fullname">Full name</label>
              <input type="text" name="fullname" id="fullname" placeholder="Devid Wonder"
                class="vd ph sg zk xm _g ch pm hm dm dn em pl/50 xi mi" />
            </div>

            <div class="vd to/2">
              <label class="rc ac" for="email">Email address</label>
              <input type="email" name="email" id="email" placeholder="example@gmail.com"
                class="vd ph sg zk xm _g ch pm hm dm dn em pl/50 xi mi" />
            </div>
          </div>

          <div class="tc sf yo ap zf ep qb">
            <div class="vd to/2">
              <label class="rc ac" for="phone">Phone number</label>
              <input type="text" name="phone" id="phone" placeholder="+009 3342 3432"
                class="vd ph sg zk xm _g ch pm hm dm dn em pl/50 xi mi" />
            </div>

            <div class="vd to/2">
              <label class="rc ac" for="subject">Subject</label>
              <input type="text" for="subject" id="subject" placeholder="Type your subject"
                class="vd ph sg zk xm _g ch pm hm dm dn em pl/50 xi mi" />
            </div>
          </div>

          <div class="fb">
            <label class="rc ac" for="message">Message</label>
            <textarea placeholder="Message" rows="4" name="message" id="message"
              class="vd ph sg zk xm _g ch pm hm dm dn em pl/50 ci"></textarea>
          </div>

          <div class="tc xf">
            <button class="vc rg lk gh ml il hi gi _l">Send Message</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- ===== Contact End ===== -->
