  <!-- ===== Pricing Table Start ===== -->
  <section class="i pg fh rm ji gp uq">
    <!-- Bg Shapes -->
    <%= image_tag "shape-06.svg", alt: "Shape", class: "h aa y" %>
    <%= image_tag "shape-03.svg", alt: "Shape", class: "h ca u" %>
    <%= image_tag "shape-07.svg", alt: "Shape", class: "h w da ee" %>
    <%= image_tag "shape-12.svg", alt: "Shape", class: "h p s" %>
    <%= image_tag "shape-13.svg", alt: "Shape", class: "h r q" %>

    <!-- Section Title Start -->
    <div>
      <div class="animate_top bb ze rj ki xn vq">
        <h2 class="fk vj pr kk wm on/5 gq/2 bb _b"><%= @program_banner.title %></h2>
        <p class="bb on/5 wo/5 hq"><%= @program_banner.description %></p>
      </div>


    </div>
    <!-- Section Title End -->

    <!-- Pricing Table -->
    <div class="bb ze i va ki xn yq bc">
      <div class="wc qf pn xo jg">
        <!-- Pricing Item -->
        <% @programs.each do |program| %>
          <div class="animate_top rj sg hh sm vk xm hi nj oj">
            <h4 class="wj kk wm fb"><%= program["title"] %></h4>

            <div class="tc wf xf kg cc text-center">
              <h2 class="fk _j kk wm text-3xl font-semibold"><%= program["price"] %></h2>
              <span class="sc ak kk wm text-base text-gray-500">for <%= program["duration"] %> months</span>
            </div>


            <p class="ur dc"><%= program["description"] %></p>


            <!-- Features -->
            <ul class="tc sf bg ob fb">
              <% program["features"].split("|").each do |feature| %>
                <li><%= feature %></li>
              <% end %>
            </ul>

            <!-- Button -->
            <%= link_to "Book Now", "#!", class: "ek rg lk ml il gi ri mh tl" %>
          </div>
        <% end %>
      </div>
    </div>
  </section>
  <!-- ===== Pricing Table End ===== -->