<!-- ===== Team Start ===== -->
<section class="i pg ji gp uq">
  <!-- Bg Shapes -->
  <span class="rc h s r vd fd/5 fh rm"></span>
  <%= image_tag 'shape-08.svg', alt: 'Shape Bg', class: 'h q r' %>
  <%= image_tag 'shape-09.svg', alt: 'Shape', class: 'of h y z/2' %>
  <%= image_tag 'shape-10.svg', alt: 'Shape', class: 'h _ aa' %>
  <%= image_tag 'shape-11.svg', alt: 'Shape', class: 'of h m ba' %>

  <!-- Section Title Start -->
  <div>
    <div class="animate_top bb ze rj ki xn vq">
      <h2 class="fk vj pr kk wm on/5 gq/2 bb _b"><%= @team_banner.title || "Meet With Our Creative Dedicated Team" %></h2>
      <p class="bb on/5 wo/5 hq"><%= @team_banner.description || "Our team of dedicated professionals is united by a single mission: to provide you with the highest quality of care." %></p>
    </div>


  </div>
  <!-- Section Title End -->

  <div class="bb ze i va ki xn xq jb jo">
    <div class="wc qf pn xo gg cp">
      <% @team.each do |team| %>
        <!-- Team Item -->
        <div class="animate_top rj">
          <div class="c i pg z-1">
            <% if team.profile_image.attached? %>
              <%= image_tag team.profile_image, alt: 'Team', class: 'vd' %>
            <% else %>
              <%= image_tag 'team-02.png', alt: 'Team', class: 'vd' %>
            <% end %>

            <div class="ef im nl il">
              <span class="h -ud-left-5 -ud-bottom-21 rc de gd gh if wa"></span>
              <span class="h s p rc vd hd mh va"></span>
              <div class="h s p vd ij jj xa">
                <ul class="tc xf wf gg">
                  <li>
                    <%= link_to team.facebook_profile_url, target: "_blank", rel: "noopener noreferrer" do %>
                      <i class="fa-brands fa-facebook-f"></i>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to team.twitter_profile_url, target: "_blank", rel: "noopener noreferrer" do %>
                      <i class="fa-brands fa-twitter"></i>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to team.linkedin_profile_url, target: "_blank", rel: "noopener noreferrer" do %>
                      <i class="fa-brands fa-linkedin-in"></i>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to team.google_profile_url, target: "_blank", rel: "noopener noreferrer" do %>
                      <i class="fa-brands fa-google"></i>
                    <% end %>
                  </li>
                </ul>

              </div>
            </div>
          </div>

          <h4 class="yj go kk wm ob zb"><%= team.full_name %></h4>
          <p><%= team.designation %></p>
        </div>
      <% end %>
    </div>
  </div>
</section>
<!-- ===== Team End ===== -->
